# OS Files & Folders

## MacOS

.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes

## Windows

ehthumbs.db
ehthumbs_vista.db
Thumbs.db
Thumbs.db:encryptable
$RECYCLE.BIN/
*.stackdump

# Ignore Nested Git Bare Repo
.cfg

# Ignore Entire OS

/mnt
/run
/proc
/sbin
/sys
/usr
/var
/bin
/boot
/dev
/etc
/lib
/lib32
/lib64
/libx32
